/* ELEMENTOS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    color: white;
    background-color: rgb(99, 62, 28);
}

main{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

footer{
    background-color: rgb(99, 62, 28);
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-shrink: 0;
    width: 100%;
}

nav{ 
    background-color: rgb(145, 96, 49);
    padding-top: 12px;
    padding-bottom: 12px;
}

nav a{
    text-decoration: none;
}

button{
    cursor: pointer;
    background-color: rgb(99, 62, 28);
    border-radius: 5px;
    border: 2px solid rgb(99, 62, 28);
    color: white;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
    width: 95px;
    transition: 0.25s;
    font-size: 20px;
    margin-top: 7px;
}

button:hover{
    background-color: rgb(145, 110, 35);
    border-color: rgb(145, 110, 35);
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"]{
    background-color: rgb(255, 250, 243);
    padding: 4px;
    border: 2px solid rgb(220, 185, 8);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 14px;
    width: 300px;
    height: 30px;
    transition: 0.25s;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="tel"]:hover, input[type="number"]:hover{
    border: 2px solid rgb(160, 133, 0);
}

input[type="date"], input[type="time"]{
    background-color: rgb(255, 250, 243);
    padding: 4px;
    border: 2px solid rgb(220, 185, 8);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 14px;
    width: 148px;
    height: 30px;
    transition: 0.25s;
}

input[type="date"]:hover, input[type="time"]:hover{
    border: 2px solid rgb(160, 133, 0);
}

input[type="radio"]{
    background-color: rgb(244, 225, 58);
}

hr{
    border: none;
    background-color: rgb(197, 166, 9);
    height: 2px;
    margin-top: 10px;
    margin-bottom: 25px;
}

header h1{
    padding: 10px;
}

h1{
    font-size: 38.5px;
}

h2{
    font-size: 29px;
    margin-bottom: 6px;
}

h3{
    font-size: 22.5px;
    margin-bottom: 6px;
}

h5{
    font-size: 19px;
    margin-top: 8.5px;
    color: rgb(197, 166, 9);
}

p{
    font-size: 18px;
}

label{
    font-size: 20px;
    font-weight: bold;
}

img{
    margin: 20px;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background-color: rgb(144, 94, 54);
    border: 8px solid rgb(144, 94, 54);
}

table {
    margin-top: 15px;
    width: 20%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(197, 166, 9);
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(250, 225, 192);
}

td{
    background-color: rgb(255, 246, 234);
}

ul.lista li {
    list-style-type: none;
    padding: 12px 15px;
    margin-bottom: 10px;
    background-color: rgb(255, 250, 243);
    border-left: 4px solid rgb(145, 96, 49);
    border-radius: 0 6px 6px 0;
}

/* CLASSES */

.btnnav{
    width: 1000px;
    font-size: 20px;
    border: 2px solid rgb(244, 225, 58);
    background-color: rgb(145, 96, 49);
    border-radius: 5px;
    transition: 0.25s;
    margin: 10px 10px 20px;
    color: white;
    padding: 5px;
}

.btnnav:hover{
    background-color: rgb(244, 225, 58);
    color: rgb(99, 62, 28);
}

.secoes{
    margin: 33px;
    color: black;
    width: 70%;
}

.tituloinformacao{
    display: flex;
    flex-direction: column;
}

.blocos{
    border-color: 4px solid rgb(150, 80, 50);
    background-color: bisque;
    margin: 20px;
    font-size: 20px;

}

.article-cardapio{
    background-color: rgb(255, 247, 236);
    border-radius: 10px;
    border: 2px solid rgb(197, 166, 9);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textos {
    max-width: 95%; 
}

/* IDs */

#frase-motivacional-do-negoneyson{
    color: rgb(244, 225, 58);
    padding-bottom: 10px;
}

#sect-reservas{
    margin: 5px;
}

#main-sobre{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

#msg{
    margin-top: 10px;
    margin-bottom: 10px;
}

#sobre{
    width: 50%;
}